.about{
    background-color: #F0F0F0;
}

.about1 img{
    width:100%;
    height:675px;
    object-fit: cover;
    object-position: top;
}

.login1{
    background: #000000;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    flex-direction: row;
    margin: 10px 2px;
    cursor: pointer;
}

.head1{
    background-color: #ffffff;
}

.price-section {
    max-width: 900px;
    margin: auto;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
}

.price-section h1 {
    text-align: center;
    margin-bottom: 25px;
}

.price-table {
    width: 100%;
    border-collapse: collapse;
}

.price-table th,
.price-table td {
    padding: 14px 16px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.price-table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.price-table tr:hover {
    background-color: #fafafa;
}

.price-table td:last-child {
    text-align: right;
    white-space: nowrap;
}

.section-divider {
    border: none;
    height: 2px;
    background-color: #ffffff;
    
}

.navigation-info{
    display:flex;
    align-items: center;
    padding-inline: 50px;
    gap: 20px;
}

.gallery {
    display: flex;
    gap: 10px;
    padding: 20px;
    overflow-x: auto;
}

.gallery img {
    height: 270px;
    cursor: pointer;
    transition: transform 0.3s; 
    border-radius: 6px;
}

.gallery img:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.modal-img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

