.main{
    background: url(img/main.png);
    background-repeat: no-repeat;
}

.center {
    text-align: center;
    margin-top: 350px;
    font-size: 48px;
    background-color: black;
    color: white;
    -webkit-text-stroke: 2px black;

    
    background-image: linear-gradient(to right, #f3ec78, #af4261);

  background-clip: text;
  -webkit-background-clip: text; /* For cross-browser compatibility */

  color: transparent;
  -webkit-text-fill-color: transparent;
}

.info {
    margin: 20px;
    padding: 20px;
    
    margin-top: 500px;
}

.underline {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.recomend{
    color: #000000;
    text-align: center;
    background: #ccc;
    padding: 10px;
}

.workinfo{
font-family: 'JetBrains Mono';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 31px;
/* or 129% */

color: #000000;


}

.workinfo2{
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 43px;
/* identical to box height, or 90% */

color: #000000;
}

.center1{
    background-image: linear-gradient(to right, #f3ec78, #af4261);

  background-clip: text;
  -webkit-background-clip: text; /* For cross-browser compatibility */

  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 72px;
}

.clothes .col-8{
    margin-top: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
p{
    font-size: 25px;}
}

.button1{
    background: #000000;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
}

.clothes img{
    width: 100%;
    border-radius: 1000px;
}

.buttonfinal{
    background: #000000;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 20px 4px;
    cursor: pointer;
}